/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

/* BODY */

body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px 20px;

background:
radial-gradient(circle at top,
#0f4cbd,
#07152d 40%,
#020817 100%);

overflow-y:auto;

}

/* CONTAINER */

.container{

width:100%;

max-width:550px;

padding:40px;

border-radius:30px;

background:
rgba(10,25,60,.55);

border:
1px solid rgba(255,255,255,.15);

backdrop-filter:blur(25px);

box-shadow:
0 0 30px rgba(30,144,255,.2),
inset 0 0 20px rgba(255,255,255,.03);

text-align:center;

}

/* LOGO */

.logo-area{

margin-bottom:30px;

}

.logo{

width:250px;

height:auto;

margin-bottom:0px;

transition:.4s;

}

.logo:hover{

transform:scale(1.05);

}

/* TITULO */

.animated-title{

font-size:42px;

font-weight:700;

color:white;

margin-bottom:10px;

border:none;

animation:none;

}

/* SUBTITULO */

.subtitle{

color:#d1d5db;

font-size:16px;

line-height:1.6;

margin-top:10px;

}

/* INPUT BOX */

.input-box{

margin-bottom:18px;

}

.input-box label{

display:block;

text-align:left;

margin-bottom:8px;

color:#dbeafe;

font-size:14px;

font-weight:600;

}

/* INPUT */

input{

width:100%;

padding:15px;

border-radius:15px;

border:1px solid rgba(255,255,255,.15);

background:rgba(255,255,255,.08);

color:white;

font-size:15px;

outline:none;

transition:.3s;

}

input::placeholder{

color:#bfc9d4;

}

input:focus{

border-color:#1E90FF;

box-shadow:
0 0 15px rgba(30,144,255,.35);

}

/* BOTÃO */

button{

width:100%;

padding:16px;

border:none;

border-radius:15px;

background:
linear-gradient(
135deg,
#1E90FF,
#0d6efd);

color:white;

font-size:16px;

font-weight:700;

cursor:pointer;

transition:.3s;

box-shadow:
0 0 25px rgba(30,144,255,.4);

}

button:hover{

transform:translateY(-3px);

box-shadow:
0 0 40px rgba(30,144,255,.8);

}

/* LINKS */

.links{

margin-top:25px;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

flex-wrap:wrap;

color:#dbeafe;

}

.links a{

color:#4da3ff;

text-decoration:none;

font-weight:600;

}

.links a:hover{

text-decoration:underline;

}

/* MENSAGEM */

#mensagem{

margin-top:20px;

font-size:14px;

font-weight:600;

text-align:center;

color:#ff4d4d;

}

#mensagem.sucesso{

color:#28a745;

}

/* FOOTER */

.footer{

margin-top:25px;

font-size:13px;

color:white;

}

/* RESPONSIVO */

@media(max-width:768px){

.container{

padding:30px;

}

.animated-title{

font-size:32px;

}

}

@media(max-width:480px){

.container{

padding:25px;

}

.logo{

width:90px;

}

.animated-title{

font-size:26px;

}

.subtitle{

font-size:14px;

}

input{

padding:13px;

font-size:14px;

}

button{

padding:14px;

font-size:15px;

}

}
