/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

 body{

    min-height:100vh;

    background:
    radial-gradient(circle at top,
    #0f4cbd,
    #07152d 40%,
    #020817);

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px 20px;

    overflow-y:auto;

}

.logo-area{

margin-bottom:35px;

}

 .container{

    width:100%;

    max-width:500px;
    padding:40px;

    border-radius:35px;

    background:
    rgba(10,25,60,.55);

    border:

    1px solid rgba(255,255,255,.15);

    backdrop-filter:blur(25px);

    box-shadow:

    0 0 30px rgba(30,144,255,.2),

    inset 0 0 20px rgba(255,255,255,.03);

    text-align:center;

    position:relative;

    z-index:10;

    max-height:none;

margin:40px 0;

}



 .animated-title{
 font-size:40px;

font-weight:700;

color:white;

margin-bottom:15px;

border:none;

animation:none;

}

.subtitle{

color:#d1d5db;

 font-size:16px;
line-height:1.5;

margin-top:10px;

}

#imagem {
  position: absolute;
  top: 20px;
  left: 20px;
}

@keyframes slideIn {
  0% { transform: translateX(100%); opacity:0; }
  100% { transform: translateX(0); opacity:1; }
}

@keyframes blinkCursor {
  0%,100% { border-color: transparent; }
  50% { border-color: #1E90FF; }
}

 label{
display:block;
text-align:left;
margin-bottom:8px;
color:#444;
font-weight:600;
font-size:14px;
}

 input{
  width:100%;
  padding:16px 18px;
  margin-bottom:20px;

  border:2px solid #e6e6e6;
  border-radius:15px;

  font-size:15px;

  transition:.3s;

  background:#fafafa;
}

input:focus{
  border-color:#1E90FF;
  box-shadow:0 0 10px rgba(30,144,255,.3);
}

button{
  width:100%;

  padding:16px;

  border:none;

  border-radius:15px;

  background:
  linear-gradient(
  135deg,
  #1E90FF,
  #0d6efd);

  color:white;

  font-size:16px;

  font-weight:700;

  cursor:pointer;

  transition:.3s;
}

button:hover{

transform:translateY(-2px);

box-shadow:
0 10px 20px rgba(30,144,255,.4);

}


.links{

margin-top:20px;

display:flex;

justify-content:center;

gap:12px;

font-size:14px;

}

.links a{

color:#1E90FF;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.links a:hover{

color:#187bcd;

}

 .logo{
  
width:250px;
margin-bottom:0px;
}

.logo:hover{

transform:scale(1.05);

}

#mensagem{

margin-top:20px;

font-size:14px;

font-weight:600;

text-align:center;

}

 


@media(max-width:480px){

.container{

padding:25px;

border-radius:20px;

}

.logo{

width:90px;

}

.animated-title{

font-size:24px;

}

button{

padding:14px;

}

}

/* Responsivo */
@media (max-width:768px) {
  .container { padding:30px; }
  .animated-title { font-size:24px; }
  input { padding:10px 12px; font-size:13px; }
  button { padding:10px; font-size:15px; }
}
 
.footer{
  color:white;
}